{% extends 'base.html' %}
{% load static %}
{% block title %}Products{% endblock %}

{% block content %}
<section class="py-5 justify-content-center">
    <div class="container pb-5">
    <h5>My Products ({{TotalMyProduct}})</h5>
    <hr>
    {% if messages %}
    {% include 'message.html' %}
    {% endif %}
        <div class="py-3 row justify-content-center">

            {% for MyProducts in MyProducts %}
            <div class="card col-8 col-md-5 col-lg-3 col-md-2 mx-3 my-2" >
                <img src="{{MyProducts.image.url}}" class="card-img-top mt-3" alt="product image">
                <div class="card-body">
                    <h5 class="card-title">{{MyProducts.title}}</h5>
                    <p class="product_price">{{MyProducts.price}} Tk</p>
                    <p class="card-text product_description">{{MyProducts.description|slice:":70"}}...</p>

                    <!-- edit -->
                    <a href="{% url 'UpdateProduct' MyProducts.pk %}" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                    <!-- delete -->
                    <a href="{% url 'DeleteProduct' MyProducts.pk %}" class="btn btn-primary"><i class="fas fa-trash-alt"></i></a>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}