{% load static %}
<nav class="navbar navbar-expand-lg navber_container py-4 px-5" style="background-color: black;">
    <div class="container-fluid">

        <!-- logo -->
        <a class="navbar-brand text-light" href="/">Products</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <!-- home -->
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="/">Products</a>
                </li>


                

                {% if request.user.is_authenticated %}
                <!-- profile -->
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdown" role="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                        {{ request.user.first_name }}
                    </a>

                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="{% url 'Dashboard' %}">Dashboard</a></li>
                        <li><a class="dropdown-item" href="{% url 'Logout' %}">Logout</a></li>
                    </ul>

                </li>
                {% else %}

                <!-- login -->
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'siungIn' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active text-light" aria-current="page" href="{% url 'SingUp' %}">Sing Up</a>
                </li>
                {% endif %}

                



            </ul>
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </div>
    </div>
</nav>