{% extends 'base.html' %}
{% load static %}
{% block title %}Sing Up{% endblock %}

{% block content %}
<section class="py-5 justify-content-center">
    <div class="container pb-5">
        <div class="form_cntainer p-5">

            <!-- sing in header -->
            <h1 class="form_heading">Sing Up</h1>

            <form class="custom_form" action="" method="POST" >
                {% csrf_token %}
    
                <!-- username -->
                <div class="form_content_container">
                    <label>Username</label>
                    <input {% if form.is_bound %} value="{{ form.username.value }}" {% endif %} type="text" name="username"required>
                    <p class="form_error" style="color: red; font-size:14px;">{{form.username.errors}}</p>
                </div>
    
                <!-- email -->
                <div class="form_content_container">
                    <label>Email</label>
                    <input {% if form.is_bound %} value="{{ form.email.value }}" {% endif %} type="email" name="email" required>
                    <p class="form_error" style="color: red; font-size:14px;">{{form.email.errors}}</p>
                </div>
    
                <!-- password -->
                <div class="form_content_container">
                    <label>Password</label>
                    <input type="password" name="password" required>
                    <p class="form_error" style="color: red; font-size:14px;">{{form.password.errors}}</p>
                </div>
    
                <!-- confiem password -->
                <div class="form_content_container">
                    <label>Confirm Password</label>
                    <input type="password" name="confirm_password" required>
                    <p class="form_error" style="color: red; font-size:14px;">{{form.password.errors}}</p>
                </div>
    
                <div class="form_content_container">
                    <a href="#">Al ready have account?</a>
                </div>
    
                <div class="form_content_container">
                    <button type="submit" class="submit_btn">Create</button>
                </div>
            </form>


        </div>
    </div>
</section>
{% endblock %}