{% extends 'base.html' %}
{% load static %}
{% block title %}Add Product{% endblock %}

{% block content %}
<section class="py-5 justify-content-center">
    <div class="container pb-5">

        {% if request.user.pk == product.user.pk or request.user.is_superuser %}
        <div class="form_cntainer p-5">

            <!-- sing in header -->
            <h1 class="form_heading">Update Product</h1>
            {% if messages %}
            {% include 'message.html' %}
            {% endif %}

            <form action="" method="POST" class="custom_form" action="" method="POST" class="needs-validation" style="font-size: 13px;" novalidate="" autocomplete="off" enctype="multipart/form-data">
                {% csrf_token %}

                {% csrf_token %}
                {{form.as_p}}
                <div class="form_content_container">
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>

        </div>

        {% else %}
        <h5 class="text-center text-danger">You've entered wrong url</h5>
        {% endif %}
    </div>
</section>
{% endblock %}